/**
* CSS file with some starter css for exercises.
*/

.dashboard {
  gap: 1rem;

  & .sidebar {
    min-width: 50%;
  }
}

.card {
  background-color: rgb(39, 39, 39);
  padding: 2rem;
  border-radius: 0.5rem;
  margin-block: 1rem;
}

.moving-ball {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: var(--pico-primary);
  border-radius: 50%;
  animation: move 0.5s infinite alternate ease-in-out;
}

@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(200px);
  }
}

.dynamic-container {
  container-type: inline-size;
  outline: 2px dashed var(--pico-primary);
  padding: 1rem;

  p {
    margin: 0;
    font-size: 1.25rem;
  }

  @container (min-width: 300px) {
    p {
      font-size: 2rem;

      &::before {
        content: "⚠️";
        padding-inline-end: 2cqi;
      }
    }
  }
}
