/**
* CSS file with some starter css for exercises.
*/

.sidebar {
  background-color: var(--pico-primary);
  padding: min(2rem, 5vw);
  border-radius: 0.25rem 0 0 0.25rem;
  color: var(--pico-background-color);
  min-height: 100svh;
  box-shadow: 2px 0 6px rgba(255, 255, 255, 0.1);

  a,
  h3 {
    color: #000;
  }
}
