/**
* CSS file with some starter css for exercises.
*/

.album {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;

  padding: 0.5rem 1rem;
  width: min(300px, 80vw);
  border-radius: 0.5rem;
  color: white;
  aspect-ratio: 1;

  .album__image {
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 1;
    object-fit: cover;
  }

  .album__title,
  .album__artist {
    position: relative;
    z-index: 1;
  }

  .album__text {
    white-space: nowrap;
  }

  &::after {
    position: absolute;
    background: linear-gradient(to bottom, transparent, black);
    content: "";
    inset: 0;
  }
}


.dummy-section {
  margin: 0;
  min-height: 40svh;
  background-color: red;
}

.dummy-section:nth-of-type(even) {
  background-color: blue;
}