/* mask mode? Kijk je naar de helderheid? Of transparantie? */
/* mask image - link naar mask.svg! */
/* mask sizing, repeating, ... */

.mask-image {
}

/* clip with basic shapes: https://bennettfeely.com/clippy/ */
/* Met svg? clipPath nodig in je SVG, https://www.sarasoueidan.com/blog/css-svg-clipping/ */
.clipping-image {
  aspect-ratio: 1;
  width: min(300px, 100%);
  object-fit: cover;
}

/* Other animations: https://ishadeed.com/article/clip-path/ */
.animated-figure {
  display: inline-block;
  background-color: rgb(188, 230, 255);
  overflow: hidden;
  border-radius: 0.25rem;

  /* Animate clip path to reveal the image */
}

/* Use CSS variables and calculation to have consistent angle (no percentage but percentage - value) */
.dummy-section--angle {
}
