/**
* CSS file with some starter css for exercises.
*/

img {
  width: 100%;
}

.rounded {
  border-radius: var(--pico-border-radius);
}

.columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}

.album {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;

  padding: 0.5rem 1rem;
  width: 100%;
  border-radius: 0.5rem;
  color: white;
  aspect-ratio: 1;
  text-decoration: none;
  transition: filter 300ms ease;

  &:hover,
  &:focus {
    filter: brightness(1.5);

    .album__title {
      translate: 0 10px;
    }

    .album__artist {
      scale: 0.8;
      translate: 0 5px;
      color: white;
    }
  }

  .album__image {
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 1;
    object-fit: cover;
  }

  .album__title,
  .album__artist {
    position: relative;
    z-index: 1;
    transform-origin: left;
    transition: all 300ms ease;
    user-select: none;
  }

  .album__text {
    display: block;
    white-space: nowrap;
    mask-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 75%,
      rgba(0, 0, 0, 0) 90%
    );
  }

  &::after {
    position: absolute;
    background: linear-gradient(to bottom, transparent, black);
    content: "";
    inset: 0;
  }
}
