/**
* Geef de bullet points een andere vorm (ingebouwd)

* Geef de bullet points een andere kleur dan de tekst
*
* Geef de bullet points een andere vorm dan de ingebouwde vormen
*/

/**
* Stijl de selectie van tekst.
*/
