/* Stylen van modal? https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Selectors/::backdrop */
/* Backdrop werkt enkel wanneer je de dialog opent via JavaScript */
/* Extra (volgend hoofdstuk): Animeren? @starting-style */

/* Anchor positioning met popover  */
/* Extra (volgend hoofdstuk): Animeren? @starting-style  */
