/* Waarom zijn focus-stijlen belangrijk? Niet uitzetten! */

/* Focus-within - Geef het label een andere kleur! */


/* Tonen dat een veld nog niet is ingevuld met placeholder-shown */

/* Placeholder shown? Maak een form label animatie: https://blog.surjithctly.in/creating-a-floating-label-input-form-using-tailwindcss-no-javascript  */

/* Focus-visible - Maak de focus outline duidelijker! */
