/**
* CSS file with some starter css for exercises.
*/
@import url("https://fonts.googleapis.com/css2?family=Kablammo:MORF@0..60&display=swap");

body {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding-inline: 2rem;
}

h1 {
  text-align: center;
  font-size: clamp(1.8rem, 5vw, 4rem);
  font-family: "Kablammo", sans-serif !important;
}

button {
  display: block;
  padding: 0.75rem 1.5rem;
  font-size: sans-serif;
  border: none;
  border-radius: 5rem;
  background-color: black;
  color: white;
  margin-bottom: 1rem;
}
